WEBHOOK_TOKEN=
NOTION_TOKEN=
NOTION_PDF_PROPERTY=PDF nuevo
DRIVE_DEFAULT_FOLDER_ID=id-carpeta-pruebas
DRIVE_FOLDER_BY_BANK_JSON={"COLUMBIA":"id-carpeta-columbia","CREDITCAR":"id-carpeta-creditcar","NUESTRA PAMPA SA":"id-carpeta-nuestra-pampa"}
